api information.json
{
  "name": "scrap information",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        0
      ],
      "id": "d20e2538-6cb4-42ec-b6ad-fbe0bdb3ac6c",
      "name": "click"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1bVHFZEq5j1uCBh1OgiXQDxQKEz750QmvE6Aq0uaFWt8",
          "mode": "list",
          "cachedResultName": "tabla de información",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bVHFZEq5j1uCBh1OgiXQDxQKEz750QmvE6Aq0uaFWt8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ID - Sheets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bVHFZEq5j1uCBh1OgiXQDxQKEz750QmvE6Aq0uaFWt8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        0
      ],
      "id": "15947bc7-8c0e-41d2-8d24-e22636d0094d",
      "name": "obtener infomación",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Sujk7ym2EOJBgZXN",
          "name": "Google Sheets - emrg2015escom@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://pokeapi.co/api/v2/pokemon/{{ $json.ID }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        496,
        0
      ],
      "id": "43b1fce1-b01f-49b1-9aa5-f47e75da9177",
      "name": "Obtener API POKEMON"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4dc6a571-98f0-45d1-bfbe-2ad30d9fa16c",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "b2bb048e-2703-4b7b-a2e4-0ba9ec619ac4",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "a2b70ad2-3cac-45e0-97aa-b01be6c4b8d7",
              "name": "type",
              "value": "={{ $json.types[0].type.name }}",
              "type": "string"
            },
            {
              "id": "6d8b84db-9290-4554-a110-909ce0b6d873",
              "name": "photo.front",
              "value": "={{ $json.sprites.front_default }}",
              "type": "string"
            },
            {
              "id": "57982381-0442-409f-bc97-5de9b5cdab3e",
              "name": "photo.back",
              "value": "={{ $json.sprites.back_default }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        0
      ],
      "id": "53f04459-e08f-4514-846a-378931b46a11",
      "name": "Editar respuesta"
    },
    {
      "parameters": {
        "content": "## Get Data \nGet all data from google sheet",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        -80
      ],
      "typeVersion": 1,
      "id": "21117bec-6a44-46b9-a964-63bf5e104f10",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "26ba3a2e-f0ff-4488-9196-db10e3aa8085",
              "leftValue": "={{ $json.Nombre }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        272,
        0
      ],
      "id": "d6754229-744f-44fa-b9c4-a9a3ba86716a",
      "name": "Filter"
    },
    {
      "parameters": {
        "content": "## Filtrar\nMuestra los datos que se necesitan obtener en la API",
        "height": 208,
        "width": 256,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        -80
      ],
      "typeVersion": 1,
      "id": "c0ba7ca3-9106-44e6-b415-385a5b56f5a6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Usar APi\nMuestra el resultado ordenado de la API",
        "height": 208,
        "width": 304,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        464,
        -80
      ],
      "typeVersion": 1,
      "id": "2bf073a3-2151-4fe5-8b90-1e2b8b095e7b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Actualiza\nSube el resultado a sheet",
        "height": 208,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        784,
        -80
      ],
      "typeVersion": 1,
      "id": "850a4733-0316-4a55-8eec-798768187540",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1bVHFZEq5j1uCBh1OgiXQDxQKEz750QmvE6Aq0uaFWt8",
          "mode": "list",
          "cachedResultName": "tabla de información",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bVHFZEq5j1uCBh1OgiXQDxQKEz750QmvE6Aq0uaFWt8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ID - Sheets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bVHFZEq5j1uCBh1OgiXQDxQKEz750QmvE6Aq0uaFWt8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.id }}",
            "Nombre": "={{ $json.name }}",
            "Tipo": "={{ $json.type }}",
            "Sprite 1": "={{ $json.photo.front }}",
            "Sprite 2": "={{ $json.photo.back }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tipo",
              "displayName": "Tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sprite 1",
              "displayName": "Sprite 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sprite 2",
              "displayName": "Sprite 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        864,
        0
      ],
      "id": "ac9b094e-17cf-41d2-8791-eba5a59611ba",
      "name": "Actualiza el valor vacio",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Sujk7ym2EOJBgZXN",
          "name": "Google Sheets - emrg2015escom@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "emrg2015escom@gmail.com",
        "subject": "Finalizo el proceso de sincornización",
        "message": "=<h1>Se inserto datos de este cliente</h1>\n {{ $json.ID }} con el nombre de {{ $json.Nombre }} y es tipo {{ $json.Tipo }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1248,
        0
      ],
      "id": "a724c4cb-10d2-416e-97e0-e3b2c3a6e2fc",
      "name": "Send a message",
      "webhookId": "fe393af9-4fa0-47ea-9934-5abd8422553b",
      "credentials": {
        "gmailOAuth2": {
          "id": "6X2hPMKpAdJCevmU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "ID"
            },
            {
              "fieldToAggregate": "Nombre"
            },
            {
              "fieldToAggregate": "Tipo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1120,
        0
      ],
      "id": "1f46896a-3b73-4fcb-be9d-35852f37568f",
      "name": "Unir respuesta"
    },
    {
      "parameters": {
        "content": "## Enviar por correo\nSe une todos los cambios y se envian por correo",
        "height": 208,
        "width": 352,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        -80
      ],
      "typeVersion": 1,
      "id": "8ccde92e-333c-4991-b5cc-6e524750dc4e",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {
    "Actualiza el valor vacio": [
      {
        "json": {
          "ID": 1,
          "Nombre": "bulbasaur",
          "Tipo": "grass",
          "Sprite 1": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png",
          "Sprite 2": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/1.png"
        }
      },
      {
        "json": {
          "ID": 2,
          "Nombre": "ivysaur",
          "Tipo": "grass",
          "Sprite 1": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/2.png",
          "Sprite 2": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/2.png"
        }
      },
      {
        "json": {
          "ID": 4,
          "Nombre": "charmander",
          "Tipo": "fire",
          "Sprite 1": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/4.png",
          "Sprite 2": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/4.png"
        }
      },
      {
        "json": {
          "ID": 45,
          "Nombre": "vileplume",
          "Tipo": "grass",
          "Sprite 1": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/45.png",
          "Sprite 2": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/45.png"
        }
      },
      {
        "json": {
          "ID": 151,
          "Nombre": "mew",
          "Tipo": "psychic",
          "Sprite 1": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/151.png",
          "Sprite 2": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/151.png"
        }
      },
      {
        "json": {
          "ID": 44,
          "Nombre": "gloom",
          "Tipo": "grass",
          "Sprite 1": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/44.png",
          "Sprite 2": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/44.png"
        }
      }
    ],
    "Unir respuesta": [
      {
        "json": {
          "ID": [
            1,
            2,
            4,
            45,
            151,
            44
          ],
          "Nombre": [
            "bulbasaur",
            "ivysaur",
            "charmander",
            "vileplume",
            "mew",
            "gloom"
          ],
          "Tipo": [
            "grass",
            "grass",
            "fire",
            "grass",
            "psychic",
            "grass"
          ]
        }
      }
    ]
  },
  "connections": {
    "click": {
      "main": [
        [
          {
            "node": "obtener infomación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtener infomación": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener API POKEMON": {
      "main": [
        [
          {
            "node": "Editar respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editar respuesta": {
      "main": [
        [
          {
            "node": "Actualiza el valor vacio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Obtener API POKEMON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualiza el valor vacio": {
      "main": [
        [
          {
            "node": "Unir respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unir respuesta": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fdd3bd54-f8d9-4e93-879c-78f8a0e4b0f6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5464148c59fec84e7dc93a003f9dcf65a2a797d79c8210dc9826344c16edf5a9"
  },
  "id": "1zVRlGVWXj7sNAqs",
  "tags": [
    {
      "updatedAt": "2025-11-01T20:38:33.322Z",
      "createdAt": "2025-11-01T20:38:33.322Z",
      "id": "g7fX2p4nhLDbtNkx",
      "name": "first project"
    },
    {
      "updatedAt": "2025-11-01T20:38:38.447Z",
      "createdAt": "2025-11-01T20:38:38.447Z",
      "id": "jNEMIlVC5zodMdHG",
      "name": "pokemon"
    }
  ]
}