seguridad-flujos.json
{
  "name": "Protección de Flujos",
  "nodes": [
    {
      "parameters": {
        "path": "company/metrics/:company-id",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -304,
        -112
      ],
      "id": "4c5f46fa-da65-471a-afab-e1f542f0eb86",
      "name": "Webhook",
      "webhookId": "afc8b025-1e6a-4878-801b-ca6a75610233"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"comapyId\":\"{{ $json.params['company-id'] }}\",\n  \"sales\": 3452231,\n  \"items\": 332125,\n  \"users\": 2332,\n  \"clients\": 3345,\n  \"conversionRate\": 4.7,\n  \"revenue\": 982345.55,\n  \"activeSessions\": 189,\n  \"newUsersToday\": 42,\n  \"topProduct\": {\n    \"id\": \"PRD-9845\",\n    \"name\": \"Wireless Noise-Cancelling Headphones\",\n    \"unitsSold\": 14231,\n    \"revenue\": 213456.78\n  },\n  \"traffic\": {\n    \"today\": 5432,\n    \"thisWeek\": 38765,\n    \"thisMonth\": 152347\n  },\n  \"lastUpdated\": \"2025-08-27T12:45:00Z\"\n}\n ",
        "includeOtherFields": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        -112
      ],
      "id": "77e9b9fc-176c-4d1e-bba4-f47306c660ac",
      "name": "Retornar información"
    },
    {
      "parameters": {
        "content": "# ¿Qué tipo de autenticación debo usar?\n\n### ¿El servicio externo ya soporta un método de autenticación específico?\n- **Sí** → Usa el que soporten.\n- **No** → Sigue leyendo.\n\n### ¿Necesitas acceso con tiempo limitado o metadatos del usuario?\n- **Sí** → Usa **JWT**.\n- **No** → Sigue leyendo.\n\n### ¿Estás usando una API key o token simple?\n- **Sí** → Usa **Header Auth**.\n- **No** → Sigue leyendo.\n\n### ¿El servicio soporta HTTP Basic Auth estándar?\n- **Sí** → Usa **Basic Auth**.\n- **No** → Usa **Header Auth** (más flexible).\n\n---\n\n## Ejemplos del mundo real:\n\n- **Basic Auth:**  \n  Conexión a sistemas empresariales como **Jira**, **Jenkins**, o sistemas **CRM** antiguos.\n\n- **Header Auth:**  \n  Integración con APIs modernas como **Slack**, **Discord**, o aplicaciones personalizadas que usan API keys.\n\n- **JWT:**  \n  Creación de **microservicios**, **backends de apps móviles**, o sistemas que requieren **permisos específicos por usuario**.\n\n\n\n\nEsta lista de puntos fue idea de: [Nate Herk | AI Automation](https://www.youtube.com/watch?v=3FfCRbq3XMs)\n",
        "height": 880,
        "width": 720,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1072,
        -416
      ],
      "id": "f25041ac-08ba-4821-a6e9-fd01ae563337",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        192,
        -112
      ],
      "id": "ffc5e2b2-8e50-4fef-a234-69ebe776102c",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Retornar información",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retornar información": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "452011db-a510-4b6b-987d-72a685ef7b8d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d409b389fd7445b7870d63bd23ab2d4a1fae73724da403bd7083778643ef1319"
  },
  "id": "nWAJ4kgYhNAZbTCH",
  "tags": [
    {
      "createdAt": "2025-08-27T13:02:24.173Z",
      "updatedAt": "2025-08-27T13:02:24.173Z",
      "id": "c5pUCky0XuCMQ0z7",
      "name": "security"
    }
  ]
}