z8 RAG system.json
{
  "name": "Standar RAG system",
  "nodes": [
    {
      "parameters": {
        "formTitle": "download files",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Documents",
              "fieldType": "file",
              "acceptFileTypes": ".pdf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1680,
        -256
      ],
      "id": "ab16d35c-7312-4303-917c-785354da44b1",
      "name": "On form submission",
      "webhookId": "4f558de6-cc10-4448-b45f-ae562e43bd37"
    },
    {
      "parameters": {
        "content": "## Feeding",
        "height": 80,
        "width": 544
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        -112
      ],
      "typeVersion": 1,
      "id": "8830f9bc-0817-4eaa-9154-d279a1acf9e3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        48,
        -288
      ],
      "id": "0bfc8c7e-02f3-4ada-a442-fed686f349fb",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "model": "mxbai-embed-large:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        448,
        432
      ],
      "id": "32d4be61-7839-4433-b098-c894f96f228a",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "LgfpiZZWOHAMLMcq",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -32,
        272
      ],
      "id": "d0a0c6bd-a25e-4b4c-9643-2a8a21f1c29c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 250,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -32,
        416
      ],
      "id": "62b53f28-c8f3-4ec6-a8cf-f42a87acb24f",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        560,
        0
      ],
      "id": "aec5c01f-cdea-4379-963e-a387e1f0fd04",
      "name": "When chat message received",
      "webhookId": "dc8ce877-39eb-4832-830d-d23661140357"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "# Rol: Asistente Legal\n\n## Descripción\nEres un asistente legal diseñado para ayudar a un abogado a consultar información contenida en documentos legales internos.  \nDebes recuperar, analizar y entregar respuestas precisas, claras y fundamentadas basadas únicamente en los documentos disponibles.  \nMantén siempre un tono profesional y formal, y prioriza la exactitud legal en todas tus respuestas.  \n\nTus respuestas deben de ser cortas y puntuales.\n\nSi no conoces la respuesta, responde que no dispones de la información.\n\n\n\n## Capacidades\n- Búsqueda y recuperación de información legal relevante.  \n- Respuestas concisas y con fundamento en los documentos disponibles.  \n- Inclusión de referencia del documento utilizado para responder.  \n- Identificación de ausencia de información en los documentos.  \n- Mantener confidencialidad y precisión en todas las respuestas.  \n\n\n## Comportamiento\n1. Recepción de la consulta: Recibe la pregunta o solicitud del abogado.  \n2. Búsqueda de información en la base de conocimiento para encontrar información relevante en los documentos.  \n3. Generación de la respuesta:  \n   - Si encuentras la información:  \n     - Proporciona un resumen conciso, claro y preciso.  \n     - Incluye la referencia del documento donde encontraste la información (nombre o identificación del documento y sección/cláusula si aplica).  \n   - Si no encuentras la información:  \n     - Responde únicamente con:  \n       ```\n       No puedo encontrar la respuesta en los recursos disponibles.\n       ```\n4. Confidencialidad: No reveles información fuera de lo que esté contenido en los documentos.  \n5. Tono: Profesional, formal, claro y directo.  \n\n## Ejemplo\nPregunta del abogado:  \n> ¿Cuál es el procedimiento de terminación anticipada del contrato de arrendamiento?\n\nRespuesta del asistente (ejemplo):  \n> Según el Contrato de Arrendamiento - Cláusula 12, el contrato puede ser terminado anticipadamente por cualquiera de las partes notificando con al menos 30 días de antelación y cumpliendo con el pago proporcional de las obligaciones pendientes.  \n> Referencia: Contrato_Arrendamiento_2025.pdf, Cláusula 12.  "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        704,
        0
      ],
      "id": "f1a9cc1b-4a1c-4fd6-9e66-353481b54216",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "content": "## Getting information",
        "height": 80,
        "width": 640,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        -112
      ],
      "typeVersion": 1,
      "id": "229d7935-b22b-47fa-93c8-6be51fb296a8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "model": "deepseek-r1:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        704,
        320
      ],
      "id": "a3eff5bc-9d2e-4b92-a834-8c37394b328a",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "LgfpiZZWOHAMLMcq",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        800,
        176
      ],
      "id": "fd5b49a3-a7ad-43b9-8910-d9923d811c69",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Getting files only for information",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        928,
        -288
      ],
      "id": "239f99d5-7945-4448-b837-8c32bdf2a782",
      "name": "Simple Vector Store1"
    },
    {
      "parameters": {
        "mode": "insert",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        0,
        96
      ],
      "id": "7f7c495a-fd64-4486-b89a-ba0b1d8e7acf",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "4jof2uaRJXHkvrPi",
          "name": "Postgres - Neon emrg2015escom@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "description": "Getting files only for information"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        928,
        176
      ],
      "id": "c0396276-a013-461f-9885-eea317175ff2",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        848,
        336
      ],
      "id": "90c5e1d3-7952-4cc8-adab-71dec4191fae",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "4jof2uaRJXHkvrPi",
          "name": "Postgres - Neon emrg2015escom@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Hf2bgAo3VTLUk-oHw3xCxACjMc9spsjK",
          "mode": "list",
          "cachedResultName": "RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Hf2bgAo3VTLUk-oHw3xCxACjMc9spsjK"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1472,
        -256
      ],
      "id": "d63d9731-3073-4fdf-8ef2-04a0f53c1079",
      "name": "Google Drive - receive new document",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CXDVEW9ccgoaj3CM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Feeding",
        "height": 80,
        "width": 1584,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1792,
        -112
      ],
      "typeVersion": 1,
      "id": "4dbe9b0b-5072-4e9c-a6c3-c069e95d5434",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -320,
        96
      ],
      "id": "265821ed-a305-4bf7-8f50-d94988214eab",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CXDVEW9ccgoaj3CM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1776,
        32
      ],
      "id": "acf6ac25-b69f-4d87-bf8e-718aed9d97b9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1776,
        272
      ],
      "id": "cf2b8b9b-d933-4c30-8a77-82234eb54468",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "returnAll": true,
        "filter": {
          "driveId": {
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1Hf2bgAo3VTLUk-oHw3xCxACjMc9spsjK",
            "mode": "list",
            "cachedResultName": "RAG",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1Hf2bgAo3VTLUk-oHw3xCxACjMc9spsjK"
          },
          "includeTrashed": false
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1616,
        160
      ],
      "id": "f02d7ecb-e338-4d62-8d4b-a032a7e5a75a",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CXDVEW9ccgoaj3CM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "29b199d6-731d-4317-8b5d-ebb8e3d22545",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/vnd.google-apps.folder",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1456,
        160
      ],
      "id": "9cfe19ab-c129-4780-b8d1-1a7ae7e78600",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          }
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1280,
        240
      ],
      "id": "6c63eadb-6f3c-4c64-a47a-b368a02a23e9",
      "name": "Search files and folders1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CXDVEW9ccgoaj3CM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select count(*) as ingested from public.ingested_files\nwhere file_id = '{{ $json.id }}' and md5_checksum ='{{ $json.md5Checksum }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1280,
        64
      ],
      "id": "1c83a3b6-91f9-44b5-a3d1-c7a115af1f91",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "4jof2uaRJXHkvrPi",
          "name": "Postgres - Neon emrg2015escom@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "701ab351-a02b-4dd7-b621-7ee02d017edc",
              "leftValue": "={{ $json.ingested }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1104,
        64
      ],
      "id": "4430f0c0-488b-459a-be96-ef9f51e11ec8",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -784,
        -16
      ],
      "id": "b78b8142-1177-4734-88a7-c463855dea58",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1de40636-fc8e-4f34-b292-5970ec1cd4b3",
              "name": "id",
              "value": "={{ $('If').item.json.id }}",
              "type": "string"
            },
            {
              "id": "a651a1b3-72de-40dd-99d2-07bdb199b79f",
              "name": "mimeType",
              "value": "={{ $('If').item.json.mimeType }}",
              "type": "string"
            },
            {
              "id": "021d1c80-f68a-49f9-a2b3-63de27ccf6e1",
              "name": "md5Checksum",
              "value": "={{ $('If').item.json.md5Checksum }}",
              "type": "string"
            },
            {
              "id": "017e0439-7ba4-419d-a1e0-1a7926723366",
              "name": "modifiedTime",
              "value": "={{ $('If').item.json.modifiedTime }}",
              "type": "string"
            },
            {
              "id": "239e4463-f835-4b24-80a0-60cf214b944c",
              "name": "name",
              "value": "={{ $('If').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -928,
        80
      ],
      "id": "e9aeadbf-25e2-4635-824c-d9e88cc30b38",
      "name": "Extraer variables"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete from n8n_vectors where file_id= '{{ $json.id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -768,
        208
      ],
      "id": "350055cb-0f8e-4705-a224-0426487fb5a9",
      "name": "Execute a SQL query1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "4jof2uaRJXHkvrPi",
          "name": "Postgres - Neon emrg2015escom@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -608,
        96
      ],
      "id": "62e1bdc2-8408-4d46-89bc-996b9bcff508",
      "name": "Merge"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ingested_files",
          "mode": "list",
          "cachedResultName": "ingested_files"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "mime_type": "={{ $json.mimeType }}",
            "name": "={{ $json.name }}",
            "file_id": "={{ $json.id }}",
            "md5_checksum": "={{ $json.md5Checksum }}",
            "modified_time": "={{ $json.modifiedTime }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mime_type",
              "displayName": "mime_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "md5_checksum",
              "displayName": "md5_checksum",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "modified_time",
              "displayName": "modified_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_ingested",
              "displayName": "last_ingested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -464,
        96
      ],
      "id": "73b8e90f-299c-4abc-9b51-d46eae8e0fbe",
      "name": "Ingest Documents",
      "credentials": {
        "postgres": {
          "id": "4jof2uaRJXHkvrPi",
          "name": "Postgres - Neon emrg2015escom@gmail.com"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -320,
        400
      ],
      "id": "67fca8ad-d744-4f90-bac8-f67ddd5a50c8",
      "name": "finish process"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE n8n_vectors\nSET file_id = '{{ $('Extraer variables').item.json.id }}'\nWHERE metadata->'loc'->'lines' = '{{ $json.metadata.loc.lines.toJsonString() }}' and file_id is null",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -320,
        240
      ],
      "id": "3b3e6c96-a137-40bd-b3c2-5d41f121964b",
      "name": "update file_id in postgress",
      "credentials": {
        "postgres": {
          "id": "4jof2uaRJXHkvrPi",
          "name": "Postgres - Neon emrg2015escom@gmail.com"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        []
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store1": {
      "ai_tool": [
        []
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - receive new document": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extraer variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer variables": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Ingest Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest Documents": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "main": [
        [
          {
            "node": "update file_id in postgress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update file_id in postgress": {
      "main": [
        [
          {
            "node": "finish process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6eaabbe2-4ce5-4bc4-aa7b-402f07ac495c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5464148c59fec84e7dc93a003f9dcf65a2a797d79c8210dc9826344c16edf5a9"
  },
  "id": "TFw8sgwi8ewA0SPy",
  "tags": [
    {
      "updatedAt": "2025-11-23T02:25:11.850Z",
      "createdAt": "2025-11-23T02:25:11.850Z",
      "id": "0CVLLDvb9SdKnIJ9",
      "name": "RAG"
    }
  ]
}