telegram/z10 telegram.json
{
  "name": "telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -416,
        64
      ],
      "id": "b50e1862-a527-4190-91c9-8d59d79f379e",
      "name": "Telegram Trigger",
      "webhookId": "0a974d9c-d918-41a7-9bd3-ffca475112f7",
      "credentials": {
        "telegramApi": {
          "id": "iJPQoaILO3xEPXZG",
          "name": "Telegram - recurso777281125Papubot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Code in JavaScript').item.json.ta_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1664,
        160
      ],
      "id": "1a41a9e0-e94a-4d02-bd03-5c2e4b40b6d7",
      "name": "Send a text message",
      "webhookId": "4407efd0-851a-4c88-a170-a6f0608ab111",
      "credentials": {
        "telegramApi": {
          "id": "iJPQoaILO3xEPXZG",
          "name": "Telegram - recurso777281125Papubot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "1e714912-6961-498b-9312-f70c6439079e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text-message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8529336f-7bb9-4ad6-9217-ba3fee722566",
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image-message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "506000df-5208-4f9c-849f-46575e35db92",
                    "leftValue": "={{ $json.message.document.mime_type }}",
                    "rightValue": "image/png",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image-document"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "af81e276-9d09-4980-baee-e98c9e621666",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio-message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -208,
        32
      ],
      "id": "c1a67525-afe5-4557-97f7-5122e2e8414d",
      "name": "Switch"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"userPrompt\": \"{{ $json.message.text }}\",\n  \"type\": \"text_message\",\n  \"ai\": \"\",\n  \"ta_id\": \"{{ $json.message.chat.id }}\",\n  \"name\": \"{{ $json.message.from.first_name }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        16
      ],
      "id": "14921dda-3a5a-4beb-a4a5-3802a43da921",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "return {\n  userPrompt: $input.first().json.userPrompt,\n  type: $input.first().json.type,\n  ai: $input.first().json.ai,\n  ta_id: $input.first().json.ta_id,\n  name: $input.first().json.name\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        16
      ],
      "id": "7ad87294-29f8-46bc-bdb2-b99a7e3b0c1c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "options": {
          "systemMessage": "=ayudas a las personas a ser mejor\n\nPuedes recibir informacion de un AI que analiza la imagen. Si no hay informacion en la parte de \"ai\", ayudame a responder el \"userPrompt\" con la informacion que puedas. Gracias\n\n## Imagen analizada por AI\n{{ $json.ai }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        928,
        16
      ],
      "id": "fa55f718-65e5-4838-bd47-2a9a3ffea3c8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        800,
        224
      ],
      "id": "816bca31-bed6-4237-83f6-06381e8bccb9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ygGlckVAhjhFS0Tv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.ta_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        944,
        224
      ],
      "id": "f8aaf30f-0aff-49b9-9a18-840ca3c8406f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[2].file_id }}",
        "additionalFields": {
          "mimeType": "image/jpeg"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        96,
        288
      ],
      "id": "0dde9dc1-9ee6-4522-9181-9dd0ba14c3c1",
      "name": "Get a file",
      "webhookId": "91d1d15f-2ca0-47e2-a596-f3f76533ec7d",
      "credentials": {
        "telegramApi": {
          "id": "iJPQoaILO3xEPXZG",
          "name": "Telegram - recurso777281125Papubot"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "={{ $('Switch').item.json.message.caption || '¿Que hay en la imagen?' }}",
        "inputType": "binary",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        256,
        288
      ],
      "id": "5ab7a069-aa6d-4cd4-8f15-1eb15a60fae6",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "ygGlckVAhjhFS0Tv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"userPrompt\": \"{{ $('Switch').item.json.message.caption || '¿Que hay en la foto?' }}\",\n  \"type\": \"text_message\",\n  \"ai\": \"{{ $json.candidates[0].content.parts[0].text }}\",\n  \"ta_id\": \"{{ $('Switch').item.json.message.chat.id }}\",\n  \"name\": \"{{ $('Switch').item.json.message.chat.first_name }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        288
      ],
      "id": "a5c9bdaa-d9bb-4296-9e10-7baf03da6a2b",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "content": "## Get text",
        "height": 80,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        -80
      ],
      "typeVersion": 1,
      "id": "afa023a5-d68b-4c9c-b5bd-192c7e4c791a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Get image",
        "height": 80,
        "width": 528,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        192
      ],
      "typeVersion": 1,
      "id": "f0973c62-26dd-4e50-8cd3-6ad7d9ee6edf",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.document.file_id }}",
        "additionalFields": {
          "mimeType": "image/jpeg"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        96,
        448
      ],
      "id": "e6fa88d0-f4ac-4c56-8df1-3904f45e5251",
      "name": "Get a file1",
      "webhookId": "91d1d15f-2ca0-47e2-a596-f3f76533ec7d",
      "credentials": {
        "telegramApi": {
          "id": "iJPQoaILO3xEPXZG",
          "name": "Telegram - recurso777281125Papubot"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "={{ $('Switch').item.json.message.caption || '¿Que hay en la imagen?' }} .la respuesta no debe de tener tilde ",
        "inputType": "binary",
        "options": {
          "maxOutputTokens": 100
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        256,
        448
      ],
      "id": "af62dc90-4979-4e84-a4a2-07aac6964fa3",
      "name": "Analyze an image1",
      "credentials": {
        "googlePalmApi": {
          "id": "ygGlckVAhjhFS0Tv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"userPrompt\": \"{{ $('Switch').item.json.message.caption || '¿Que hay en la foto?' }}\",\n  \"type\": \"text_message\",\n  \"ai\": \"{{ $json.candidates[0].content.parts[0].text.replaceAll('\"' , '\\\"').replaceAll('**\"' , ' ').replaceAll('\"**' , ' ').replaceAll('\"' , \" \").replaceAll(\":\" , \"->\").replaceAll(\"'\" , \"\").replaceAll(\"/\" , \"\") }}\",\n  \"ta_id\": \"{{ $('Switch').item.json.message.chat.id }}\",\n  \"name\": \"{{ $('Switch').item.json.message.chat.first_name }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        448
      ],
      "id": "a563ee68-7af2-4c34-ad6f-e3760b5496b7",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "content": "## Get audio",
        "height": 80,
        "width": 528,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        624
      ],
      "typeVersion": 1,
      "id": "4faa5aa1-1937-463d-bcbc-9a4feb5c1d4b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {
          "mimeType": "audio/ogg"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        80,
        752
      ],
      "id": "1786f185-2568-4a5a-af12-425ac07c8610",
      "name": "Get a file2",
      "webhookId": "91d1d15f-2ca0-47e2-a596-f3f76533ec7d",
      "credentials": {
        "telegramApi": {
          "id": "iJPQoaILO3xEPXZG",
          "name": "Telegram - recurso777281125Papubot"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"userPrompt\": \"{{ $('Switch').item.json.message.caption || '¿Que hay en la foto?' }}\",\n  \"type\": \"audio_message\",\n  \"ai\": \"{{ $json.candidates[0].content.parts[0].text.replaceAll('\"' , '\\\"').replaceAll('**\"' , ' ').replaceAll('\"**' , ' ').replaceAll('\"' , \" \").replaceAll(\":\" , \"->\").replaceAll(\"'\" , \"\").replaceAll(\"/\" , \"\") }}\",\n  \"ta_id\": \"{{ $('Switch').item.json.message.chat.id }}\",\n  \"name\": \"{{ $('Switch').item.json.message.chat.first_name }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        752
      ],
      "id": "84ca3f66-ff8e-4cf8-a37e-69095db7e316",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ccdee1df-c4cb-405d-9253-e7ae719d2a33",
              "leftValue": "",
              "rightValue": "audio_message",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1280,
        16
      ],
      "id": "247a57a7-3ed3-445a-9a0b-38305caf259b",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "={{ $('Switch').item.json.message.caption || '¿Que hay en la imagen?' }} .la respuesta no debe de tener tilde ",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        256,
        752
      ],
      "id": "920eeee2-503b-420c-ab00-9254cede9a48",
      "name": "Analyze audio",
      "credentials": {
        "googlePalmApi": {
          "id": "ygGlckVAhjhFS0Tv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-image",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-image (Nano Banana)"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1488,
        -80
      ],
      "id": "39973680-43e4-4f95-a148-3c3d710f6fc6",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "ygGlckVAhjhFS0Tv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Code in JavaScript').item.json.ta_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1664,
        -80
      ],
      "id": "707c267f-e6bd-4d9b-b150-72575cc578d4",
      "name": "Send a text message1",
      "webhookId": "4407efd0-851a-4c88-a170-a6f0608ab111",
      "credentials": {
        "telegramApi": {
          "id": "iJPQoaILO3xEPXZG",
          "name": "Telegram - recurso777281125Papubot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file1": {
      "main": [
        [
          {
            "node": "Analyze an image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file2": {
      "main": [
        [
          {
            "node": "Analyze audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze audio": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "adaebb42-7d0f-44f7-b219-0a4d953f794d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7d1605ed48d0733f7a2f1a11a81bd775a7dfebfd5a1d8e736ebc9315f8abc47d"
  },
  "id": "FG29isowiqTOODdd",
  "tags": [
    {
      "updatedAt": "2025-11-28T03:23:22.049Z",
      "createdAt": "2025-11-28T03:23:22.049Z",
      "id": "JB9iWKCeOox5jN9D",
      "name": "whatsapp"
    },
    {
      "updatedAt": "2025-11-29T05:05:55.296Z",
      "createdAt": "2025-11-29T05:05:55.296Z",
      "id": "pXDTW68AFmTReG6z",
      "name": "telegram"
    }
  ]
}